/* =========== ref============  */


/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */


/* ============= CSS RESET ============  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

body {
    background-color: rgba(128, 128, 128, 0.035);
}


/* ================ UTILITIES CLASS ============  */

.primary-btn {
    background-color: unset;
    color: #8d9196;
    border-radius: 0.25rem;
    padding: 0.50rem 1rem;
    font-weight: 400;
    border: 1px solid #e2e8f0;
    transition: all 0.6s;
    font-size: 0.9rem;
}

.primary-btn:hover {
    background-color: #3284e8;
    color: #fff;
}

.secondary-btn {
    background-color: #60a5fa;
    color: #fff;
    border-radius: 0.25rem;
    padding: 0.50rem 1rem;
    font-weight: 400;
    border: 1px solid #60a5fa;
    transition: all 0.6s;
    font-size: 0.9rem;
}

.secondary-btn:hover {
    background-color: #3284e8;
    color: #fff;
}


/* ============= NAV SECTION ===========  */

#nav {
    width: 100%;
    padding: 1rem 0rem;
}

#nav .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav .container .logo {
    width: 50%;
}

#nav .container .navbar {
    width: 100%;
}

#nav .container .call-to-action {
    width: 40%;
}

#nav .container .logo img {
    width: 30%;
}

#nav .container .navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav .container .navbar ul li a {
    font-family: 'Poppins', sans-serif;
    color: #475569;
    margin: 0rem 1rem;
    font-size: 0.9rem;
}

#nav .container .navbar ul li a:hover {
    color: #60a5fa;
    /* color: red; */
}

#nav .container .call-to-action a {
    margin: 0rem 1rem;
    font-family: 'Poppins', sans-serif;
}


/* ================== HERO SECTION ==================  */

#hero {
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

#hero .container {
    width: 90%;
    margin: auto;
    display: flex;
    padding: 2rem 0rem;
}

#hero .container .box {
    width: 100%;
    margin: 1rem;
}

#hero .container .box2 {
    background-color: rgba(128, 128, 128, 0.071);
}

#hero .container .box .box-container {
    width: 100%;
}

#hero .container .box .box-container .content-card {
    width: 100%;
}

#hero .container .box .box-container .content-card h1 {
    width: 80%;
    font-size: 2.5rem;
    margin: 1rem 0rem;
}

#hero .container .box .box-container .content-card .special-color {
    color: #3284e8;
}

#hero .container .box .box-container .content-card p {
    padding: 0.3rem 0rem;
    width: 70%;
    color: #8d9196;
}

#hero .container .box .box-container .content-card .btn-box {
    padding: 3rem 0rem;
}

#hero .container .box .box-container .content-card .btn-box .primary-btn {
    margin-left: 1rem;
}

#hero .container .box .box-container .img-card {
    width: 100%;
}

#hero .container .box .box-container .img-card img {
    width: 100%;
}


/* ====================== FEATURE SECTION ================  */

#feature {
    width: 100%;
    padding: 3rem 0rem;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

#feature .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feature .container .card {
    margin: 0rem 2rem;
}

#feature .container .card .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#feature .container .card .card-container .card-icon {
    margin-right: 1rem;
}

#feature .container .card .card-container .card-icon i {
    font-size: 2.5rem;
    color: #3284e8;
}

#feature .container .card .card-container .card-content p {
    color: #8d9196;
}


/* ======================= TEAM-INTRO ===================  */

#team-intro {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding: 4rem 0rem;
}

#team-intro .container {
    width: 90%;
    margin: auto;
    display: flex;
}

#team-intro .container .box {
    width: 100%;
    margin: 0rem 1rem;
}

#team-intro .container .box .special-color {
    color: #3284e8;
}

#team-intro .container .box h1 {
    font-size: 2.5rem;
}

#team-intro .container .box p {
    color: #8d9196;
    line-height: 1.8;
}


/* ================= PROCESS ===================  */

#process {
    width: 100%;
    padding: 3rem 0rem;
    font-family: 'Poppins', sans-serif;
}

#process .container {
    width: 90%;
    margin: auto;
    display: flex;
}

#process .container .box {
    width: 100%;
    margin: 0rem 1rem;
    box-shadow: 1px 1px 25px rgba(128, 128, 128, 0.069);
}

#process .container .box .card {
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    text-align: center;
}

#process .container .box .card h3 {
    color: #3284e8;
    display: inline-block;
    font-size: 2rem;
    background-color: #3284e815;
    padding: 1rem 1.2rem;
    border-radius: 50%;
}

#process .container .box .card .card-img {
    width: 100%;
    margin: 1.5rem 0rem;
}

#process .container .box .card .card-img img {
    width: 250px;
    height: 200px;
}

#process .container .box .card h2 {
    margin: 1rem 0rem;
}

#process .container .box .card p {
    color: #8d9196;
}


/* ============= TEAM ============  */

#team {
    width: 100%;
    padding: 2rem 0rem;
    font-family: 'Poppins', sans-serif;
}

#team .container {
    width: 90%;
    margin: auto;
}

#team .container .team-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0rem;
}

#team .container .team-heading .special-style {
    background-color: #3284e817;
    display: inline-block;
    color: #3284e8;
    padding: 0.3rem 1rem;
    border-radius: 1rem;
    text-align: center;
    margin: auto;
}

#team .container .team-heading h1 {
    font-size: 2.5rem;
    width: 50%;
    text-align: center;
    margin: 1rem 0rem;
}

#team .container .team-heading .special-color {
    color: #8d9196;
}

#team .container .team-box {
    width: 100%;
}

#team .container .team-box .box {
    width: 100%;
    display: flex;
}

#team .container .team-box .box .card {
    margin: 1rem;
    background-color: white;
    box-shadow: 1px 1px 30px rgba(128, 128, 128, 0.168);
    padding: 2rem;
    border-radius: 0.5rem;
    transition: all 0.8s;
}

#team .container .team-box .box .card:hover {
    border: 1px solid rgba(128, 128, 128, 0.235);
}

#team .container .team-box .box .card .card-container {
    width: 100%;
    text-align: center;
}

#team .container .team-box .box .card .card-container img {
    width: 70%;
    display: block;
    margin: auto;
    border-radius: 50%;
}

#team .container .team-box .box .card .card-container h4 {
    margin: 0.5rem 0rem;
}

#team .container .team-box .box .card .card-container p {
    margin: 0.5rem 0rem;
    color: #8d9196;
}

#team .container .team-box .box .card .card-container i {
    color: #8d9196;
    margin: 0.3rem;
}


/* ===================== CONTACT SECTION ======================  */

#contact {
    width: 100%;
    padding: 3rem 0rem;
    font-family: 'Poppins', sans-serif;
}

#contact .container {
    width: 80%;
    margin: auto;
}

#contact .container .box {
    width: 100%;
}

#contact .container .box .box-container {
    width: 100%;
}

#contact .container .box1 .box-container .card {
    width: 100%;
    text-align: center;
    padding: 2rem 0rem;
}

#contact .container .box1 .box-container .card h1 {
    font-size: 3rem;
}

#contact .container .box1 .box-container .card .card-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contact .container .box1 .box-container .card .card-container .card-box {
    margin: 2rem;
}

#contact .container .box1 .box-container .card .card-container .card-box i {
    font-size: 2.5rem;
    color: #3284e8;
}

#contact .container .box1 .box-container .card .card-container .card-box h3 {
    margin: 1rem 0rem;
}

#contact .container .box1 .box-container .card .card-container .card-box p {
    color: #8d9196;
}

#contact .container .box2 .box-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .container .box2 .box-container .card {
    width: 100%;
    margin: 0rem 3rem;
}

#contact .container .box2 .box-container .card .card-container {
    width: 100%;
}

#contact .container .box2 .box-container .card .card-container form {
    width: 100%;
}

#contact .container .box2 .box-container .card .card-container form input {
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0rem;
    border: none;
    background-color: rgba(128, 128, 128, 0.137);
    border-radius: 3px;
}

#contact .container .box2 .box-container .card .card-container form .input-checked {
    display: flex;
    width: 100%;
    padding: 0.5rem 0rem;
}

#contact .container .box2 .box-container .card .card-container form .input-checked input {
    width: 10%;
}

#contact .container .box2 .box-container .card .card-container textarea {
    width: 100%;
    padding: 1rem;
    margin: 0.3rem 0rem;
    border: none;
    background-color: rgba(128, 128, 128, 0.137);
    border-radius: 3px;
}

#contact .container .box2 .box-container .card .card-container .submit-buttun {
    width: 100%;
    display: flex;
    justify-content: center;
}

#contact .container .box2 .box-container .card .card-container button {
    border: none;
    background-color: #3284e8;
    color: white;
    padding: 1rem 3rem;
    border-radius: 0.4rem;
}


/* ================== FOOTER SECTION ====================  */

#footer {
    width: 100%;
    padding: 2rem 0rem;
    font-family: 'Poppins', sans-serif;
    border-top: 1px solid rgba(128, 128, 128, 0.173);
    background-color: rgba(128, 128, 128, 0.047);
}

#footer .container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#footer .container .box1 {
    width: 50%;
}

#footer .container .box2 {
    width: 100%;
}

#footer .container .box .box-container {
    width: 100%;
}

#footer .container .box1 .box-container .logo {
    width: 100%;
}

#footer .container .box1 .box-container .logo img {
    width: 30%;
}

#footer .container .box1 .box-container .subscription {
    width: 100%;
    margin: 0.5rem 0rem;
}

#footer .container .box1 .box-container .subscription .btn-box {
    width: 100%;
    padding: 1rem 0rem;
}

#footer .container .box1 .box-container .subscription .btn-box input {
    width: 50%;
    padding: 0.75rem 1rem;
    border: 1px solid rgba(128, 128, 128, 0.286);
}

#footer .container .box1 .box-container .subscription .btn-box button {
    border: none;
    background-color: #3284e8;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 3px;
}

#footer .container .box1 .box-container .special-color-gray {
    color: gray;
}

#footer .container .box1 .box-container .copyright i {
    font-size: 1.5rem;
    margin: 1rem 0.5rem;
    color: #3284e8;
}

#footer .container .box2 .box-container {
    display: flex;
}

#footer .container .box2 .box-container .card {
    width: 100%;
    margin: 0rem 1rem;
}

#footer .container .box2 .box-container .card .card-container {
    width: 100%;
}

#footer .container .box2 .box-container .card .card-container h3 {
    margin: 0.50rem 0rem;
}

#footer .container .box2 .box-container .card .card-container p {
    width: 100%;
    margin: 1rem 0rem;
}

#footer .container .box2 .box-container .card .card-container p a {
    color: rgba(128, 128, 128, 0.847);
    font-weight: 300;
    font-size: 0.86rem;
}

#footer .container .box2 .box-container .card .card-container p i {
    color: white;
    background-color: #3284e8;
    padding: 0.3rem;
    margin: 0rem 0.5rem;
    border-radius: 50%;
    font-size: 0.6rem;
}